
$primary-color: #FFCE55;
$second-color: #5BC1A6;
$third-color: #F4F7FA;
$four-color: #EEEEEE;
$button-hover-color: #fcb400;
$light-font-color: white;
$dark-font-color: black;

@mixin flex-style($direc, $justify, $align) {
    display: flex;
    flex-direction: $direc;
    justify-content: $justify;
    align-items: $align;
}

*, *::before, *::after {
    box-sizing: border-box;
}
html, body, h2, div, img, section, nav, header, ul, li, a {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Fira Sans', sans-serif;
}
.wrapper {
    header {
        @include flex-style(row, space-between, center);
        height: 70px;
        background-color: $second-color;
        .logo-container {
            width: 30%;
            @include flex-style(row, flex-start, center);
            margin-left: 20px;
            #logo{
                width: 50px;
                height: 50px;
                background-color: $primary-color;
                border-radius: 50%;
                cursor: pointer;
            }
            #co-name {
                color: $light-font-color;
            }
        }
        .menu-container {
            width: 70%;
            margin-right: 20px;
            #main-menu {
                width: 100%;
                @include flex-style(row, space-between, center);
                list-style: none;
                li {
                    width: 20%;
                    padding: 10px 5px;
                    background-color: $primary-color;
                    text-align: center;
                    border-radius: 8px;
                    outline: none;
                    border: none;
                    transition: background-color .3s, font-weight .3s;
                    &:hover {
                        background-color: $button-hover-color;
                        border: 1px solid $primary-color;
                        font-weight: bold;
                    }
                    a {
                        text-decoration: none;
                        color: $dark-font-color;
                        font-size: 1.3rem;
                    }
                }
                #close-menu {
                    display: none;
                }
            }
            #hamburger-menu {
                display: none;
            }
        }
    }
    #main-container {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template: 'side-bar search search' minmax(50px, auto)
                             'side-bar content content';
        .search-container {
            grid-area: search;
            padding: 0 10px;
            @include flex-style(row, flex-start, center);
            .search-input {
                input[type=text] {
                    outline: none;
                    border: none;
                    border-radius: 100px;
                    background-color: $four-color;
                    font-size: 1.2rem;
                    padding: 5px 10px;
                }
                
            }
            .search-btn {
                width: 70px;
                background-color: $primary-color;
                border-radius: 100px;
                text-align: center;
                padding: 7px 0;
                margin-left: 10px;
                cursor: pointer;
                border: none;
                transition: .4s;
                i {
                    transition: .2s;
                }
                &:hover {
                    background-color: $button-hover-color;
                    i {
                        transform: rotate(30deg);
                    }
                }
            }
        }
        .side-bar {
            grid-area: side-bar;
            @include flex-style(column, space-around, center);
            height: calc(100vh - 70px);
            position: sticky;
            top: 0px;
            padding-top: 40%;
            padding-bottom: 40%;
            .side-bar-item {
                text-align: center;
                width: 100%;
                border-bottom: 1px solid $third-color;
                padding: 10px 0;
                margin: 10px 0;
                cursor: pointer;
                position: relative;
                
                &::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    bottom: 0;
                    left: 50%;
                    background-color: $button-hover-color;
                    transition: .4s;
                }
                &:hover  {
                    font-weight: bold;
                    &::before {
                        width: 100%;
                        height: 2px;
                        left: 0;
                    }
                }
            }
            .side-bar-item:nth-child(4) {
                border-bottom: none;
            }
            .side-bar-footer {
                text-align: center;
                margin-top: auto;
            }
        }
        .content {
            padding: 0 10px;
            grid-area: content;
            @include flex-style(column, center, center);
            .content-title {
               margin: 40px 0;
            }
            .content-main {
                
                .img-container {
                    position: relative;
                    width: 500px;
                    height: 300px;
                    overflow: hidden;
                    border-radius: 8px;
                    img {
                        width: 100%;
                        position: absolute;
                        top: -60%;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1366px) {
    .wrapper {
        #main-container {
            width: 90%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        #main-container {
            width: 100%;
        }
    }
}
@media screen and (max-width: 414px) {
    .wrapper {
        header {
            .logo-container {
                width: 100%;
                
            }
            .menu-container {
                #main-menu {
                    position: fixed;
                    right: -200%;
                    flex-direction: column;
                    justify-content: center;
                    background-color: $second-color;
                    height: 100%;
                    z-index: 1;
                    transition: .4s;
                    li {
                        width: 80%;
                        margin: 20px 0;
                    }
                    #close-menu {
                        display: block;
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        font-size: 1.5rem;
                        color: $primary-color;
                        cursor: pointer;
                    }
    
                }
                #hamburger-menu {
                    display: block;
                    float: right;
                    color: $primary-color;
                    font-size: 1.5rem;
                    cursor: pointer;
                }
            }
            
        }
        #main-container {
            width: 100%;
            grid-template: 'search'
                            'side-bar'
                             'content';
            .search-container {
                padding: 10px;
                width: 100vw;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .search-input {
                    @include flex-style(s, center, center);
                    width: 100vw;
                    input[type=input] {
                        width: 100vw;
                    }
                }
                .search-btn {
                    width: 85vw;
                    margin: 10px 0;
                }
            }
            .side-bar {
                position: relative;
                width: 100vw;
                padding: 0;
                height: auto;
                display: grid;
                grid-template-columns: 1fr 1fr;
                .side-bar-item {
                    margin: 0;
                    padding: 0;
                    border-bottom: none;
                }
                .side-bar-footer {
                    display: none;
                }
            }
            .content {
                .content-main {
                    .img-container {
                        width: 90vw;
                        img {
                            top: -40%;
                        }
                    }
                }
            }
        }
    }
}